body {
    text-align: center;
    border-radius: 10px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}
#netflixBG{
    width: 100%;
    height: 100%;
}
#netflixlogo img{
    width: 134px;
    height: 64px;
    display: flex;
    float: left;
}
#navbar{
    height: 100px;
    display: flex;
}
#btn a{
    color: #000;
    font-size: 14px;
}
#btn{
    border: none;
    background: none;
    margin-left: 850px;
    margin-top: 25px;
}
.bgname {
    border-radius: 4px;
    margin: 5px 0px 5px;
    width: 230px;
    height: 40px;
    color: #000;
    background-color: #222;
    border: none;
}
h1 {
    text-align: left;
    margin-left: 50px;
}
form p{
    margin-right: 15px;
}
form button {
    background-size: 100%;
    color: white;
    background-color: red;
    border-radius: 4px;
    margin: 24px 0px 12px;
    width: 230px;
    height: 40px;
    border: none;
}
a {
    text-decoration: none;
}

form{
    margin-left: 370px;
    margin-right: 370px;
    margin-top: 60px;
    border-radius: 5px;
    padding-bottom: 75px;
    margin-bottom: 75px;
    width: 340px;
}
.remember-help{
    display: flex;
    justify-content: space-between;
}
.remember-help #remember{
    font-size: 0.7rem;
    margin-left: 28px;
}
.remember-help #help{
    font-size: 0.7rem;
    margin-right: 52px;
}
#new p{
    color: #aaa6a6;
    text-align: left;
    margin-left: 52px;
    font-size: 0.9rem;
}
#new a{
    color: #ffffff;
}
.description p{
    font-size: 0.7rem;
    text-align: left;
    margin-left: 52px;
    color: #8c8c8c;
}
.description a{
    font-size: 0.7rem;
    color: #0071EB;
}
footer{
    min-width: 190px;
    width: 100%;
    margin-top: 80px;
    font-size: 1em;
    color: #757575;
    position: relative;
}
.foot{
    width: 1400;
    color: #777;
    background-color: rgba(0,0,0,.75);
    padding-left: 105px;
    padding-right: 350px;
    height: 205px;
}
.foot-align{
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 0.8rem;
}
.foot-para p{
    padding-top: 15px;
    text-align: left;
    font-size: 0.8rem;
}
footer a{
    color: #777;
}
 #hindi{
    background: black;
    color: #ffffff;
}
#english{
    background: black;
    color: #ffffff;
}
#language{
    color: white;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin: auto;
    background: none;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 15px;
    padding: 10px;
}
#option{
    justify-content: left;
    margin-left: -520px;
    margin-top: 15px;
}